<p><%= @images_count %> Images</p>

<%= for gallery <- @galleries do %>
    <div class="gallery">
      <%= link gallery.title, to: Routes.page_path(@conn, :show_gallery, gallery.slug) %>
    </div>

<% end %>
