<h1>new gallery</h1>

<%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>oops, something went wrong</p>
    </div>
<% end %>


<%= form_for @changeset, Routes.page_path(@conn, :create_gallery), fn f -> %>
    <div class="form-group">
        <%= text_input f, :title, placeholder: "title", class: "form-control" %>
        <%= error_tag f, :title %>
    </div>

    <%= submit "Create Gallery", class: "btn btn-primary" %>
<% end %>
